@import "tailwindcss";

@theme {
  /* Warna dari color.png lo */
  --color-primary-bg: #0f172a; /* 60% Background Utama */
  --color-card-bg: #1e293b; /* 30% Card Project */
  --color-accent: #6366f1; /* 10% Interaksi/Indigo */

  /* Font dari main.png lo */
  --font-headline: var(--font-jakarta);
  --font-body: var(--font-inter);
}

@layer base {
  :root {
    --background: #0f172a;
    --foreground: #f8fafc;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-(--background) text-(--foreground) antialiased;
    font-family: var(--font-body);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-headline);
    @apply font-bold tracking-tight;
  }
}

/* scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px; /* Bikin tipis banget */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Track-nya bening aja */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1); /* Warna putih transparan */
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2); /* Pas di-hover agak terang dikit */
}
